div{
    padding: 15px;
    border: 1px solid black;
}

.navegacion {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
}

.item-navegacion {
    flex: 1;
}

.especial {
    flex: 4;
}