div{
    padding: 15px;
    border: 1px solid black;
}

.navegacion {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
    flex-wrap: wrap;
}


.item-navegacion {
    width: 30%;
}
/* 

.especial {
    flex: 4;
} */

.contenido-principal {
    display: flex;
    flex-direction: row;
}

.menu-izquierdo{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.contenido-derecho{
    flex: 5;
    display: flex;
    flex-direction: column;
}

.item-derecho{
    height: 150px;
}