div{
    padding: 15px;
    border: 1px solid black;
}

.navegacion {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
    flex-wrap: wrap;
}


.item-navegacion {
    width: 30%;
}
/* 

.especial {
    flex: 4;
} */

.contenido-principal {
    display: flex;
    flex-direction: row;
}
