* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 1fr;
  gap: 2rem;
  width: 100%;
  height: 100vh;
  background-color: silver;
  padding: 2rem;
}

.header {
  width: 100%;
  height: auto;
  background-color: green;
}

.navigation {
  display: none;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 78% 1fr;
  gap: 2rem;
  height: 100%;
  background-color: red;
  padding: 2rem;
}

.subcontent-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  height: auto;
}

.subcontents {
  width: 100%;
  height: auto;
  background-color: yellow;
}

.advertisement {
  width: 100%;
  height: auto;
  background-color: purple;
}

/* Medium */
@media screen and (min-width: 480px) {
  .subcontent-container {
    grid-template-columns: 1fr 1fr;
  }
}

/* Large */
@media screen and (min-width: 1024px) {
  .main-container {
    display: grid;
    grid-template-columns: 20% 1fr;
    gap: 2rem;
  }

  .navigation {
    height: 70%;
    background-color: blue;
    display: block;
  }

  .subcontent-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
